<div class="flex bg-[#F8F9FA]">
  <!-- Main -->
  <div class="flex flex-col flex-1">
    <!-- Scroll Area -->
    <app-laboratory-header></app-laboratory-header>

    <app-laboratory-stats></app-laboratory-stats>

    <div class="grid grid-cols-1 xl:grid-cols-12 gap-6 mt-6">
      <!-- Table -->
      <div class="xl:col-span-8">
        <app-laboratory-table></app-laboratory-table>
      </div>

      <!-- Right Side -->
      <div class="xl:col-span-4 flex flex-col gap-6">
        <app-laboratory-summary></app-laboratory-summary>

        <app-laboratory-ai-card></app-laboratory-ai-card>
      </div>
    </div>
  </div>
</div>
