<div class="flex justify-center px-6 pt-12">
  <div
    class="w-full max-w-6xl bg-white rounded-3xl shadow-sm border border-gray-100 overflow-hidden"
  >
    <div
      class="gap-4 flex flex-col items-center justify-center lg:flex-row lg:items-center lg:justify-between px-12 py-10"
    >
      <!-- Text -->
      <div class="max-w-2xl">
        <h1 class="text-5xl font-bold text-gray-800 leading-tight">
          Welcome,
          <span class="text-primary">Admin. Sarah Miller</span>
        </h1>

        <p class="mt-5 text-lg text-gray-500 leading-8">
          Welcome back! We're glad to see you again. Manage your tasks, review analyses, and keep
          your laboratory running efficiently.
        </p>
      </div>

      <!-- Illustration -->
      <div class="lg:flex justify-center items-center">
        <img
          src="https://cdn-icons-png.magnific.com/256/17774/17774769.png?semt=ais_white_label"
          alt="Laboratory Illustration"
          class="w-60 lg:w-80"
        />
      </div>
    </div>
  </div>
</div>
