<aside
    class="sticky top-0 w-72 bg-white border-r border-gray-200 flex flex-col justify-between min-h-screen">

    <!-- Logo -->

    <div>

        <div class="px-7 pt-8 pb-8">

            <div class="flex gap-4">

                <div
                    class="w-14 h-14 rounded-xl bg-[#005EB8] text-white flex justify-center items-center">

                    <fa-icon [icon]="hospital"></fa-icon>

                </div>

                <div>

                    <h1 class="text-3xl font-bold text-[#005EB8]">

                        MediAI

                    </h1>

                    <h2 class="font-semibold text-[#005EB8]">

                        Enterprise

                    </h2>

                    <p class="text-xs text-gray-500 mt-1">

                        CLINICAL DECISION SUPPORT

                    </p>

                </div>

            </div>

        </div>

        <!-- Menu -->

        <nav class="space-y-2 px-4">

            <a
                routerLink="/diagnostics"
                class="flex items-center gap-4 px-5 py-4 rounded-xl text-gray-600 hover:bg-gray-100">

                <fa-icon [icon]="diagnostics"></fa-icon>

                Diagnostics

            </a>

            <a
                routerLink="/laboratory/lab-technician"
                routerLinkActive="bg-[#005EB8] text-white"
                class="flex items-center gap-4 px-5 py-4 rounded-xl transition">

                <fa-icon [icon]="laboratory"></fa-icon>

                Laboratory

            </a>

            <a
                routerLink="/patients"
                class="flex items-center gap-4 px-5 py-4 rounded-xl text-gray-600 hover:bg-gray-100">

                <fa-icon [icon]="patient"></fa-icon>

                Patient Records

            </a>

            <a
                routerLink="/admin"
                class="flex items-center gap-4 px-5 py-4 rounded-xl text-gray-600 hover:bg-gray-100">

                <fa-icon [icon]="admin"></fa-icon>

                Admin Console

            </a>

        </nav>

    </div>

    <!-- Bottom -->

    <div class="p-5">

        <button
            class="w-full bg-[#005EB8] hover:bg-blue-700 text-white py-4 rounded-xl font-semibold flex items-center justify-center gap-3">

            <fa-icon [icon]="plus"></fa-icon>

            New Analysis

        </button>

        <div class="mt-8 space-y-2">

            <a
                class="flex items-center gap-4 px-4 py-3 rounded-xl text-gray-600 hover:bg-gray-100">

                <fa-icon [icon]="settings"></fa-icon>

                Settings

            </a>

            <a
                class="flex items-center gap-4 px-4 py-3 rounded-xl text-gray-600 hover:bg-gray-100">

                <fa-icon [icon]="support"></fa-icon>

                Support

            </a>

        </div>

    </div>

</aside>