@if (this.isLoading()) {
} @else {
  <div [formGroup]="loginForm" class="min-h-screen flex flex-col items-center justify-center px-4">
    <div class="text-center mb-1">
      <h1 class="mt-4 text-3xl font-bold text-primary">Shefaa Enterprise</h1>
      <p class="text-gray-500 text-xl">Clinical Decision Support Portal</p>
    </div>
    <!-- Card -->
    <div class="w-full mb-1 max-w-md bg-white rounded-2xl shadow-xl p-8">
      <h2 class="text-2xl font-bold text-gray-800">Secure Sign In</h2>

      <p class="text-xs font-black uppercase tracking-wider text-gray-600 mt-1">
        Authorized Personnel Only
      </p>

      <!-- Email -->
      <div class="mt-5">
        <label class="text-md text-gray-700 font-medium">Work Email/UserName</label>
        <div class="mt-2 flex items-center border rounded-xl px-4 py-3">
          <i class="fa-regular fa-envelope mr-3 text-xl text-primary"></i>
          <input
            type="text"
            placeholder="dr.smith@hospital.org"
            class="w-full outline-none text-gray-600"
            formControlName="userNameOrEmail"
          />
        </div>

        @if (userNameOrEmailRequired) {
          <p class="text-xs text-red-600 mt-1">This field is required</p>
        }
      </div>

      <!-- Password -->
      <div class="mt-5">
        <div class="flex justify-between">
          <label class="text-md text-gray-700 font-medium">Password</label>
          <a
            routerLink="../reset"
            class="cursor-pointer text-md font-bold text-primary hover:underline"
          >
            Forgot?
          </a>
        </div>

        <div class="mt-2 flex items-center border rounded-xl px-4 py-3">
          <i class="fa-solid fa-lock mr-3 text-xl text-primary"></i>

          <input
            type="password"
            formControlName="password"
            #inp
            placeholder="••••••••"
            class="w-full outline-none"
          />
          <button id="togglePassword" type="button" (click)="togglePassword()">
            <i class="fa-regular fa-eye-slash" #eye></i>
          </button>
        </div>

        @if (passwordRequired) {
          <p class="text-xs text-red-600 mt-1">Password is required</p>
        } @else if (passwordInvalid) {
          <p class="text-xs text-red-600 mt-1">Password must be at least 8 characters</p>
        }
      </div>

      <!-- Remember -->
      <div class="flex items-center mt-5">
        <input id="remember" type="checkbox" class="w-4 h-4 text-blue-600 rounded" />

        <label for="remember" class="ml-2 text-sm text-gray-600"> Keep me signed in </label>
      </div>

      <!-- Button -->
      <button
        [disabled]="isLoading() || loginForm.invalid"
        class="disabled:hover:cursor-default disabled:hover:bg-primary w-full mt-6 flex items-center justify-center gap-1 cursor-pointer bg-primary hover:bg-blue-800 text-neutral py-3 rounded-xl font-medium shadow-lg transition"
        (click)="login()"
      >
        @if (isLoading()) {
          Logging in...
        } @else {
          <i class="fa-solid fa-arrow-right-to-bracket"></i> Login
        }
      </button>

      <div class="mt-4 text-center">
        <p class="text-xs text-gray-400">
          © 2026 Shefaa Systems. Unauthorized access is prohibited.
        </p>
      </div>
    </div>
  </div>
}
