<div class="bg-white rounded-2xl border border-gray-200 shadow-sm overflow-hidden">

    <div class="px-6 py-5 border-b">

        <h2 class="text-2xl font-semibold">

            Test Catalog Summary

        </h2>

    </div>

    <div class="p-6">

        <div class="grid grid-cols-2 gap-4">

            <div class="bg-gray-100 rounded-xl p-5">

                <p class="text-xs uppercase text-gray-500">

                    Total Tests

                </p>

                <h3 class="text-4xl font-bold text-[var(--color-primary)] mt-3">

                    1,420

                </h3>

            </div>

            <div class="bg-gray-100 rounded-xl p-5">

                <p class="text-xs uppercase text-gray-500">

                    Avg. TAT

                </p>

                <h3 class="text-4xl font-bold text-[var(--color-secondary)] mt-3">

                    4.2h

                </h3>

            </div>

        </div>

        <div class="mt-8">

            <h3 class="font-semibold text-xl mb-6">

                Most Requested Tests

            </h3>

            @for(test of tests; track test.name){

            <div class="flex justify-between items-center mb-6">

                <div>

                    <h4 class="font-medium">

                        {{test.name}}

                    </h4>

                    <p class="text-gray-500 text-sm">

                        {{test.department}}

                    </p>

                </div>

                <span
                    class="bg-gray-100 px-3 py-2 rounded-lg text-sm font-medium">

                    {{test.count}}

                </span>

            </div>

            }

        </div>

        <button
            class="w-full mt-4 bg-gray-100 hover:bg-gray-200 transition rounded-xl py-3 font-semibold text-[var(--color-primary)]">

            View Full Clinical Catalog

        </button>

    </div>

</div>