<header class="bg-white border-b border-gray-200">

    <!-- Navigation -->

    <div class="h-[74px] px-8 flex items-center justify-between">

        <!-- Search -->

        <div class="relative w-[560px]">

            <fa-icon
                [icon]="search"
                class="absolute left-5 top-1/2 -translate-y-1/2 text-gray-400 text-lg">
            </fa-icon>

            <input
                type="text"
                placeholder="Search samples, patients, or results..."
                class="w-full h-11 bg-[#F3F4F6] rounded-xl pl-14 pr-4
                       text-sm border border-transparent
                       focus:outline-none focus:border-[#005EB8]" />

        </div>

        <!-- Right Side -->

        <div class="flex items-center">

            <!-- Icons -->

            <div class="flex items-center gap-8">

                <!-- Notification -->

                <button class="relative hover:text-[#005EB8] transition">

                    <fa-icon
                        [icon]="bell"
                        class="text-[20px] text-gray-700">
                    </fa-icon>

                    <span
                        class="absolute -top-1 -right-1
                               w-2 h-2 bg-red-500 rounded-full">
                    </span>

                </button>

                <!-- History -->

                <button class="hover:text-[#005EB8] transition">

                    <fa-icon
                        [icon]="clock"
                        class="text-[20px] text-gray-700">
                    </fa-icon>

                </button>

                <!-- Chat -->

                <button class="hover:text-[#005EB8] transition">

                    <fa-icon
                        [icon]="message"
                        class="text-[20px] text-gray-700">
                    </fa-icon>

                </button>

            </div>

            <!-- Divider -->

            <div class="mx-8 h-10 w-px bg-gray-300"></div>

            <!-- User -->

            <div class="flex items-center gap-3">

                <div class="text-right">

                    <h3 class="font-semibold text-[#163B6D] text-lg">

                        {{user.name}}

                    </h3>

                    <p class="text-sm text-gray-500">

                        {{user.role}}

                    </p>

                </div>

                <img
                    [src]="user.image"
                    alt="User"
                    class="w-12 h-12 rounded-full border-2 border-[#005EB8] object-cover">

            </div>

        </div>

    </div>
</header>