<div class="bg-white rounded-2xl border border-gray-200 overflow-hidden">

    <!-- Header -->

    <div class="flex justify-between items-center px-6 py-4 border-b border-gray-200">

        <div class="flex items-center gap-3">

            <fa-icon [icon]="queueIcon" class="text-[#2148A6] text-xl">
            </fa-icon>

            <h2 class="text-[20px] font-semibold text-gray-800">

                Sample Processing Queue

            </h2>

        </div>

        <button
            class="flex items-center gap-3 border border-gray-300 rounded-xl px-5 py-2 text-gray-700 hover:bg-gray-50">

            <span>All Statuses</span>

            <fa-icon [icon]="arrowDown"></fa-icon>

        </button>

    </div>

    <!-- Table -->

    <table class="w-full">

        <thead class="bg-[#F3F4F6]">

            <tr class="text-left text-[13px] font-bold tracking-widest text-gray-700">

                <th class="px-6 py-4 w-36">
                    SAMPLE<br>ID
                </th>

                <th class="w-52">
                    PATIENT
                </th>

                <th class="w-64">
                    TEST TYPE
                </th>

                <th class="w-40">
                    PRIORITY
                </th>

                <th class="w-32">
                    TIMER
                </th>

                <th class="w-36">
                    ACTION
                </th>

            </tr>

        </thead>

        <tbody>

            @for(sample of samples(); track sample.id){

            <tr class="border-t border-gray-200 h-[72px] hover:bg-gray-50">

                <!-- Sample -->

                <td class="px-6">

                    <div class="flex items-center gap-4">

                        <div class="w-[3px] h-12 rounded-full" [class]="sample.color==='red'
                            ? 'bg-red-700'
                            : sample.color==='green'
                            ? 'bg-teal-600'
                            : 'bg-blue-700'">

                        </div>

                        <div class="font-semibold leading-6 whitespace-pre-line">

                            {{sample.id}}

                        </div>

                    </div>

                </td>

                <!-- Patient -->

                <td class="leading-6 whitespace-pre-line text-gray-800">

                    {{sample.patient}}

                </td>

                <!-- Test -->

                <td class="leading-6 whitespace-pre-line text-gray-800">

                    {{sample.test}}

                </td>

                <!-- Priority -->
                @if (sample.priority === 'Critical') {

                <span class="px-3 py-1 rounded-full text-xs font-semibold bg-red-100 text-red-700">

                    Critical

                </span>

                } @else if (sample.priority === 'Standard') {

                <span class="px-3 py-1 rounded-full text-xs font-semibold bg-blue-100 text-blue-700">

                    Standard

                </span>

                } @else {

                <span class="px-3 py-1 rounded-full text-xs font-semibold bg-green-100 text-green-700">

                    Routine

                </span>

                }
                <!-- Timer -->

                <td>

                    <span class="font-semibold text-gray-700">

                        {{ sample.timer }}

                    </span>

                </td>

                <!-- Action -->

                <td>

                    @if (sample.action === 'Process') {

                    <button
                        class="bg-[#005EB8] hover:bg-blue-700 text-white px-5 py-2 rounded-xl font-medium transition">

                        Process

                    </button>

                    } @else {

                    <button class="text-[#005EB8] font-semibold hover:underline">

                        Start

                    </button>

                    }

                </td>

            </tr>


            }
        </tbody>

    </table>

    <!-- Bottom Section -->

<div class="border-t border-gray-100 bg-white px-8 py-5">

    <div class="flex items-center justify-between">

        <!-- Left -->

        <p class="text-[15px] text-gray-500 font-medium">

            Showing
            <span class="font-semibold text-gray-800">4</span>
            of
            <span class="font-semibold text-gray-800">24</span>
            samples awaiting processing

        </p>

        <!-- Right -->

        <button
            class="group flex items-center gap-2 text-[#005EB8] font-semibold text-[15px] transition-all hover:gap-3">

            View Full Queue

            <fa-icon
                [icon]="arrowRight"
                class="text-sm transition-transform duration-200 group-hover:translate-x-1">
            </fa-icon>

        </button>

    </div>

</div>